/* ================================================
   View Transition — Named Slots
   ================================================ */

@utility vt-slot {
	view-transition-name: 	var(--vt-name, none);
	view-transition-class: 	var(--vt-class, none);
}


/* --- Cross-Page Morphing --- */

@utility vt-main 		{	--vt-name: main;	--vt-class: none;		@apply vt-slot; 		}


/* --- Generic Directions --- */

@utility vt-left 		{	--vt-name: match-element; --vt-class: vt-left;	  @apply vt-slot; }
@utility vt-right 	{	--vt-name: match-element; --vt-class: vt-right;   @apply vt-slot; }
@utility vt-bottom 	{	--vt-name: match-element; --vt-class: vt-bottom;  @apply vt-slot; }
@utility vt-top 		{	--vt-name: match-element; --vt-class: vt-top;		  @apply vt-slot; }


/* --- TEMP: prevents a glitch --- */

@utility enter-top 	{	animation: vt-slide-in-t var(--duration-vt-enter) var(--easing-panel-slide-in) both; }


