/* ================================================
   View Transition — Named Slots
   ================================================ */

@utility vt-BASE {
	view-transition-name: 	var(--vt-name, none);
	view-transition-class: 	var(--vt-class, none);
}


/* --- Cross-Page Morphing --- */

@utility vt-main 		{	@apply vt-BASE; --vt-name: main;					--vt-class: none  		}


/* --- Generic Directions --- */

@utility vt-left 		{	@apply vt-BASE; --vt-name: match-element; --vt-class: vt-left;	 }
@utility vt-right 	{	@apply vt-BASE; --vt-name: match-element; --vt-class: vt-right;	 }
@utility vt-bottom 	{	@apply vt-BASE; --vt-name: match-element; --vt-class: vt-bottom; }
@utility vt-top 		{	@apply vt-BASE; --vt-name: match-element; --vt-class: vt-top;	   animation: vt-slide-in-t var(--duration-vt-enter) var(--easing-panel-slide-in) both; } /* HACK: Prevents flashing on nav from projects-pages to home. Alternative: make all elements enter & exit same vt duration */

